@define TotalLength: 40s;
@define TimingFunc: linear;
@define IterationCount: 1;
@define AnimationDelay: 0s;

.AddonLoadingRoot
{
  /*width: 100%;*/
  /*height: 100%;*/
  background-color: black;
  overflow: clip;
  /*background-size: 100% 100%;*/
  /*background-position: right 500px bottom 500px;*/
}

#TitlePanel
{
  text-align: center;
  vertical-align: bottom;
  margin-bottom: 100px;
  margin-left: 500px;
  flow-children: right;
}

#AddonTitle
{
  vertical-align: center;
  text-align: center;
  font-size: 100px;
  color: #cccccc;
  text-shadow: 2px 2px 2px #000000;
  font-family: Arial;
  color: #0C1761;
  margin-bottom: 75px;
}

.SeqImg
{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
}

#CustomBg
{

  margin-top: 350px;
  overflow: clip;
  pre-transform-scale2d: 1.0;
  animation-name: gamemode_anim;
  animation-delay: AnimationDelay;
  animation-duration: TotalLength;
  animation-timing-function: TimingFunc;
  animation-iteration-count: IterationCount;
}

#gamemode
{
  /*margin-top: 160px;*/
  /*margin-bottom: 0px;*/
  position: 0px 0px 0px;
  
}

@keyframes 'gamemode_anim'
{
  0%
  {
    transform: translateX( 0px ) translateY( 0px );
    pre-transform-scale2d: .8;
  }

  100%
  {
    transform: translateX( 0px ) translateY( -200px );
  }
}